/*
 html, css & js - Vladimir Glushkov
 http://fenrirheimr.ru/
*/
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
*:focus {outline: none !important;}
html {height: 100%; min-width: 970px;}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px; line-height: inherit;
    width: 100%;
    height: 100%;
    background: #edf1f7;
    position: relative;
    padding-top: 60px;
}
body.chief {padding-top: 100px;}
body.chief .view .container {max-width: 100%; width: 100%;}
body.chief .view .container .row {padding: 0 15px;}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    padding-bottom: 70px;
    padding-left: 20px; padding-right: 20px;
}

a {color: #45b1f9;}
a:hover {color: #ff6784; text-decoration: none;}
a:focus {text-decoration: none;}

p {color: #474e5f; font-size: 15px;}

.container {max-width: 1280px; min-width: 970px; width: 100%;}

/* Header ///////////////////////////////////////////////////////////////////////*/

.header {background: #474e5f; position: fixed; top: 0; left: 0; right: 0; z-index: 9; height: 60px;}
.header .container {max-width: 100%; width: 100%;}
.header .row {padding: 0 15px;}
.header a:hover,
.header a:active,
.header a:focus {text-decoration: none;}
.header .btns {line-height: 60px; margin-right: -17px;}
.header .btn {margin: 0 5px;}
.header .btn-back {margin-left: 35px; margin-top: -8px;}
.header .btn .badge {
    position: absolute; top: 0; left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.35, 1.35, 1.35);
        transform: scale3d(1.35, 1.35, 1.35);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.35, 1.35, 1.35);
        transform: scale3d(1.35, 1.35, 1.35);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}


.header .btn-link {color: #969cae;}
.header .btn-link:hover {color: #ff6784;}
.header form.header-form {display: inline-block; position: relative; vertical-align: middle; margin-left: 50px; border: 0; width: 300px;}
.header form.header-form .form-group {margin-bottom: 8px;}
.header form.header-form .form-control {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; border: 1px solid #fff;
}
.header form.header-form .form-control:focus {
    border: 1px solid #a5dbff;
    -webkit-box-shadow: inset 0 0 8px rgba(165,219,255,1);
    box-shadow: inset 0 0 8px rgba(165,219,255,1);
}
.header form.header-form button {background: transparent; border: 0; position: absolute; top: 8px; right: 15px; padding: 0;}

.logo {font-size: 24px; font-weight: bold; color: #fff; display: inline-block; line-height: 60px;}
.logo:hover {color: #fff;}
.logo span {color: #45b1f9;}

/* view panel */

body.chief .header {top: 40px;}
body.chief .view {background: #383b4b; position: fixed; top: 0; left: 0; right: 0; z-index: 9; height: 40px; font-size: 0;}

.view {}
.view .title {display: inline-block; line-height: 40px; font-size: 15px; color: #80868e; vertical-align: middle;}
.view .sbHolder {
    display: inline-block; font-size: 15px; background-color: #383b4b; border: 0;
    width: 250px; vertical-align: middle; margin-left: 10px;
}
/*
.view .sbHolder .sbSelector {line-height: 40px; height: 40px;}*/
.view .sbHolder .sbSelector:link,
.view .sbHolder .sbSelector:visited,
.view .sbHolder .sbSelector:hover {color: #fff;  outline: none; text-decoration: none;}
/*
.view .sbHolder .sbOptions {background-color: #383b4b; border: 0;}
.view .sbOptions li {border-top: solid 1px #474e5f;}
.view .sbOptions a:link, .sbOptions a:visited {color: #fff;}
.view .sbOptions a:hover,
.view .sbOptions a:focus,
.view .sbOptions a.sbFocus {color: #474e5f}
*/

/* toggleShowPassword */

.add-user-panel form,
.edit-user-panel form {padding: 0 15px;}
.add-user-panel form .btn,
.edit-user-panel form .btn {margin-right: 10px;}

.visibility {}
.visibility .off {display: none;}
.visibility.active .on {display: none;}
.visibility.active .off {display: inline;}

.toggleShowPassword {margin-bottom: 30px;}
.toggleShowPassword > .input-group {width: 180px; float: left;}
.toggleShowPassword .input-group-addon {border-left: 0; background-color: #fff;}
.toggleShowPassword .form-control {border-right: 0;}
.toggleShowPassword .new-pass,
.toggleShowPassword .edit-pass {float: left; margin: 7px 15px;}

/* Content //////////////////////////////////////////////////////////////////////*/

h1 {font-size: 30px; color: #474e5f;}
h2 {font-size: 28px; font-weight: bold; margin-top: 35px; margin-bottom: 25px;}
h3 {font-size: 18px; font-weight: bold;}

h1.pull-left + a.pull-left {margin-top: 30px; margin-left: 20px;}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 14px 15px;
    /*line-height: 30px;*/
    vertical-align: top;
    border-top: 1px solid #e8eaef;
    font-size: 15px; color: #474e5f;
}

.table-hover>tbody>tr:hover {background-color: #e6f5ff !important;}

.content {
    background: #fff;/* padding-bottom: 70px; */max-width: 1170px; /*min-width: 970px;*/
    margin: 0 auto;
}


form {}
label {color: #80868e; font-weight: normal;}
.form-control {border-radius: 0; color: #474e5f; font-size: 15px; font-weight: bold;}

/* page caption */

.content .page-caption {padding: 5px 0 26px; border-bottom: 5px solid #e8eaef;}
.content .page-caption .info {color: #acb5bf; font-size: 13px; margin-left: 15px;}
.content .page-caption .title {margin: 20px 30px 8px 12px; font-size: 30px; color: #474e5f; line-height: 33px;}
.content .page-caption .subtitle {margin: 0 0 8px 12px; font-size: 24px; color: #474e5f;}
.content .page-caption .label {vertical-align: middle; font-weight: normal;}
.content .page-caption .btns {vertical-align: middle; line-height: 33px; margin: 20px 15px 8px 0;}
.content .page-caption .hotel-info {margin: 0; color: #545d6a;}
.content .page-caption .hotel-info > div {display: inline-block; margin: 0 15px;}
.content .page-caption .payment-info {margin: 30px 15px 0;}
.content .page-caption .payment-info .month {color: #474e5f; font-size: 18px; font-weight: bold;}
.content .page-caption .payment-info .month .status {color: #80868e; font-size: 15px; font-weight: normal;}
.content .page-caption .payment-info .sums {color: #474e5f; margin: 10px 0; float: left;}
.content .page-caption .payment-info .sums span {margin-right: 20px;}

.page-caption .evaluation {line-height: 33px; margin: 20px 15px 8px;}
.page-caption .evaluation .dot {
    display: inline-block; width: 14px; height: 14px; vertical-align: middle; margin-right: 3px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: #333;
}
.page-caption .evaluation .value {position: relative; color: #545d6a; font-weight: 500; font-size: 30px; vertical-align: middle;}
.page-caption .evaluation .value sup {font-weight: bold; font-size: 15px; display: inline-block; vertical-align: top; line-height: 18px; top: 0;}
.page-caption .evaluation .value sub {font-size: 15px; display: inline-block; vertical-align: bottom; line-height: 18px; bottom: 0; left: -32px;}
.page-caption .evaluation .text {line-height: 18px; vertical-align: bottom; left: -30px; position: relative;}

.page-caption .evaluation.good .dot {background: #5dd963;}
.page-caption .evaluation.good .text {color: #5dca76;}

.page-caption .evaluation.normal .dot {background: #f7b94a;}
.page-caption .evaluation.normal .text {color: #f7b94a;}

.page-caption .evaluation.bad .dot {background: #ff5277;}
.page-caption .evaluation.bad .text {color: #ff5277;}

.page-caption .evaluation.percent {}
.page-caption .evaluation.percent .value sub {left: -12px;}
.page-caption .evaluation.percent .text {left: -10px;}
/* task page */

.button-bar {background: #e8eaef; padding: 9px 30px 14px;}

.task-description {margin-bottom: 56px;}
.task-description .description-item {
    border-left: 2px solid #8fa7cc; margin-bottom: 2px; position: relative; font-size: 15px; min-height: 186px;
}
.task-description .description-item:after {
    display: block; height: 0; border-bottom: 1px solid #e8eaef; content: ' ';
    position: absolute; bottom: 0; left: 30px; right: 30px;
}
.task-description .description-item .col-left,
.task-description .description-item .col-right {
    display: table-cell; padding-top: 30px; padding-bottom: 40px;
}
.task-description .description-item .col-left {padding-left: 27px;padding-right: 15px; width: 170px;}
.task-description .description-item .col-right {padding-right: 27px;padding-left: 15px;}
.task-description .description-item .datetime {font-size: 13px; color: #acb5bf; padding-left: 17px; position: relative;}
.task-description .description-item.new .datetime {font-weight: bold}
.task-description .description-item .datetime span {margin-left: 6px;}
.task-description .description-item.new .datetime:before {
    display: block;
    width: 12px;
    height: 12px;
    background: url("../img/icons20.png") no-repeat -4px -164px;
    content: ' ';
    position: absolute;
    top: 3px;
    left: 0;
}


.task-description .description-item .task-author {color: #80868e;}
.task-description .description-item .task-mess {color: #474e5f; margin: 11px 0;}
.task-description .description-item .task-subj {color: #474e5f; margin: 11px 0;}
.task-description .description-item .task-obj {}
.task-description .description-item .notice {color: #acb5bf; font-size: 13px; position: absolute; bottom: 15px;}

.task-description .description-item.your-reply {border-left: 2px solid #d9dbe0;}
.task-description .description-item.new {border-left: 2px solid #58d760;}
.task-description .description-item.new .task-author,
.task-description .description-item.new .task-mess {font-weight: bold;}

.task-description .description-item.new.ticket {}
.task-description .description-item.new.ticket * {font-weight: normal;}
.task-description .description-item.new.ticket strong,
.task-description .description-item.new.ticket .datetime,
.task-description .description-item.new.ticket .datetime span,
.task-description .description-item.new.ticket .task-title {font-weight: bold;}
.task-description .description-item.new.ticket .task-title {display: block; margin-bottom: 10px;}
.task-description .description-item.new.ticket .task-detail {margin-bottom: 30px;}
.task-description .description-item.new.ticket .task-detail li {margin-bottom: 5px;}
.task-description .description-item.new.ticket .task-detail span {display: inline-block; margin-right: 10px; width: 150px;}
.task-description .description-item.new.ticket .form-group {margin-top: 60px;}

.new-mess {
    padding: 30px 30px 0; display: none;
    -moz-box-shadow: 0 20px 50px -10px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 20px 50px -10px rgba(0,0,0,0.3);
    box-shadow: 0 20px 50px -10px rgba(0,0,0,0.3);
}
.new-mess .textarea-scrollbar {height: 206px; width: 100%; border: 1px solid #d9dbe0;}
.new-mess .textarea-scrollbar textarea {border: 0;}

.new-mess .scrollbar-outer > .scroll-content.scroll-scrolly_visible {left: 0; margin-left: 0; margin-right: 30px !important;}
.new-mess .scrollbar-outer > .scroll-element.scroll-y {}
.new-mess .add-file {padding: 10px 0;}
.new-mess .t-footer {background: #e8eaef; padding: 13px 30px; height: 60px; margin: 0 -30px 0}

/* hotel page */

.content-wrapper {}
.content-wrapper > div {padding: 0 30px;}
.content-wrapper h2 {font-weight: normal; border-bottom: 1px solid #e8eaef; padding-bottom: 5px; color: #474e5f;}
.content-wrapper .blocks {margin-bottom: 25px;}
.content-wrapper .blocks .block-item {
    border: 1px solid #dcdee3;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
    margin-bottom: 20px; padding: 20px; height: 137px; overflow: hidden;
}
.content-wrapper .blocks .block-title {font-size: 24px; color: #474e5f; margin-bottom: 20px;}
.content-wrapper .blocks .block-subtitle {font-size: 18px; font-weight: bold; color: #474e5f; margin-bottom: 7px;}
.content-wrapper .blocks .contr {line-height: 20px; color: #474e5f; margin-bottom: 4px;}
.content-wrapper .blocks .paid {font-size: 15px; margin-bottom: 30px;}
.content-wrapper .blocks .paid .percent {font-size: 30px; color: #474e5f; font-weight: bold;}
.content-wrapper .blocks .paid .percent span {font-weight: normal; margin-left: 5px;}
.content-wrapper .blocks .diff {
    font-size: 15px; color: #474e5f; font-weight: bold;
    display: inline-block;
    vertical-align: top;
}
.content-wrapper .blocks .diff.good {color: #5dc876;}
.content-wrapper .blocks .diff.normal {color: #f7b94a;}
.content-wrapper .blocks .diff.bad {color: #ff5277;}
.content-wrapper .blocks .block-item .contr-wrapper {height: 93px; overflow: hidden;}

.blocks .hidden-block {display: none;}
.blocks .hidden-block .block-item-row {font-size: 0; margin-bottom: 10px;}
.blocks .hidden-block .block-item-row > div {font-size: 15px; display: inline-block;}
.blocks .hidden-block .block-item-row .col-1 {width: 120px;}
.blocks .hidden-block .block-item-row .col-2 {width: 40px;}
.blocks .hidden-block .block-item-row .col-3 {}
.blocks.statistic .block-item {height: auto;}

.content-wrapper .blocks .tab-wrapper {
    border: 1px solid #dcdee3;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding: 20px;
    margin-bottom: 20px;
}
.content-wrapper .blocks .tab-wrapper .nav-tabs {padding: 0;}
.content-wrapper .blocks .tab-wrapper .nav-tabs + .tab-content {padding: 30px 0 0;}
.content-wrapper .blocks .tab-wrapper .nav-tabs + .tab-content canvas {width: 100%; height: 266px; margin-bottom: 30px;}

/* charts */

#chartjs-tooltip {
    opacity: 0;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    color: white;
    padding: 3px;
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    font-family: 'Roboto', sans-serif !important;
}

#chartjs-tooltip .chartjs-label,
#chartjs-tooltip .chartjs-val {white-space: nowrap;}
.doughnut-legend {margin-top: 30px;}
.chart-legend {margin-top: 30px; max-width: 266px;}
.chart-legend li {margin-bottom: 15px;}
.chart-legend li .dot {
    width: 10px; height: 10px; display: inline-block; margin-right: 10px; margin-top: 4px;
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
}
.chart-legend li .legend-item-name {display: inline-block; min-width: 120px;}
/* hotel page */

.tab-title {color: #474e5f; font-size: 24px; padding-bottom: 20px; border-bottom: 1px solid #e8eaef}
.categories-list {}
.categories-list li {height: 50px; line-height: 50px; border-bottom: 1px solid #e8eaef;}
.categories-list li:hover {background-color: #e6f5ff;}
.tab-wrapper .form-group {padding: 60px 0 40px; border-bottom: 1px solid #e8eaef; margin: 0; position: relative;}
.tab-wrapper .form-group:last-of-type {border-bottom: 0;}
.tab-wrapper .f-footer {padding: 40px 30px 0; border-top: 1px solid #e8eaef; margin: -1px -30px 0;}

.description-wrapper {}
.description-wrapper label {margin-bottom: 6px;}

.description-wrapper .form-group.title input {width: 345px;}
.description-wrapper .form-group .checkbox {margin: 0;}
.description-wrapper .form-group.check-phone .phone {display: none;}
.description-wrapper .form-group .phone {margin: 20px 0 0 23px;}
.description-wrapper .form-group .phone label {display: block;}
.description-wrapper .form-group .phone input {width: 160px; display: inline-block;}
.description-wrapper .form-group .phone .btn {margin-bottom: 2px;}
.description-wrapper .scroll-wrapper {border: 1px solid #d9dbe0;}
.description-wrapper .textarea-scrollbar {width: 735px; height: 340px;}
.description-wrapper .textarea-scrollbar textarea {border: 0; padding: 20px; height: 100% !important; width: 100% !important;}
.description-wrapper .d-footer {padding: 40px 0;}

.block {}
.block .block-title {color: #474e5f; font-weight: bold; margin-bottom: 12px;}
.block .text-muted {color: #acb5bf; font-weight: normal; font-size: 13px; margin-left: 20px;}
.block label {white-space: nowrap;}

.block.select-hour {width: 460px;}
.block.select-hour:first-child {margin-bottom: 40px;}
.block.select-hour .check-in,
.block.select-hour .check-out {width: 166px; float: left;}
.block.select-hour .check-out {float: right;}
.block.select-hour .sbHolder {width: 77px; display: inline-block; vertical-align: middle;}
.block.select-hour .sbHolder:first-of-type {margin-right: 6px;}
.block.select-hour.range .check-in,
.block.select-hour.range .check-out {width: 200px;}
.block.select-hour.range .check-in label,
.block.select-hour.range .check-out label {margin-right: 10px;}

.block .new-rules {margin-left: 23px;}
.block .new-rules .form-control {width: 325px; display: inline-block; vertical-align: middle;}
.block .min-reserv .sbHolder {width: 77px; display: inline-block; vertical-align: middle; margin-right: 5px;}
.block .radio-inline {padding-left: 0; width: 280px; cursor: default;}
.block .commission-wrapper {margin-right: 23px; margin-top: 15px;}
.block .commission-wrapper .form-control {width: 77px; display: inline-block; vertical-align: middle; margin-right: 5px;}
.block .first-row {margin-bottom: 20px;}

.requisites-wrapper {padding-top: 40px;}
.requisites-wrapper .form-group {padding: 0 0 40px; border-bottom: 0;}
.requisites-wrapper .custom-select {width: 240px;}
.requisites-wrapper .help-block {font-size: 13px; line-height: 16px; margin-top: 25px; color: #acb5bf;}
.requisites-wrapper .twofield > div {padding: 0;}


.form-group.error .form-control {border-color: #ff6784;}
.form-group.error .error {color: #ff6784; font-size: 13px; position: absolute; left: 100%; top: 33px; width: 100%; margin-left: 20px;}
.form-group.error .form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,103,132,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,103,132,.6);
}

.form-group .custom-textarea {margin-top: 20px;}
.form-group .custom-textarea .textarea-scrollbar {
    max-width: 730px; width: 100% !important; height: 100% !important; border: 1px solid #d9dbe0;
}
.form-group .custom-textarea .textarea-scrollbar textarea {border: 0;}
.form-group.phone.reserv .form-control {width: 165px; display: inline-block;}
.form-group.phone.reserv label {display: block;}

/* docs */

.docs-wrapper {}
.docs-wrapper .tab-wrapper {}
.docs-wrapper .tab-wrapper .nav-tabs {padding: 0; border-bottom: 0; margin-left: 1px}
.docs-wrapper .tab-wrapper .nav-tabs > li {padding: 0; border: 1px solid #d9dbe0; margin-left: -1px;}
.docs-wrapper .tab-wrapper .nav-tabs > li > a {
    margin-right: 0;
    color: #545d6a;
    line-height: 1.42857143;
    border: 0 !important;
    padding: 5px 14px;
}
.docs-wrapper .tab-wrapper .nav-tabs > li[role="presentation"]:hover > a,
.docs-wrapper .tab-wrapper .nav-tabs > li[role="presentation"].active > a {background: #e6f5ff !important;}
.docs-wrapper .tab-wrapper .nav-tabs > li:first-child{
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.docs-wrapper .tab-wrapper .nav-tabs > li:last-child{
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;;
}
.docs-wrapper .tab-wrapper .nav-tabs > li.period {}
.docs-wrapper .tab-wrapper .nav-tabs > li.period > a,
.docs-wrapper .tab-wrapper .nav-tabs > li.period > a:focus,
.docs-wrapper .tab-wrapper .nav-tabs > li.period:hover > a {background: #fff; color: #45b1f9;}
.docs-wrapper .tab-wrapper .tab-content {padding: 30px 0 !important;}
.docs-wrapper .choose-period {
    width: 344px; border: 1px solid #dee0e5; margin-top: 0; padding: 30px 20px 40px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.docs-wrapper .choose-period .col-md-3:first-child {padding-right: 0;}
.docs-wrapper .choose-period .col-md-5 {padding-right: 0;}
.docs-wrapper .choose-period .row {margin-bottom: 20px;}

.docs-wrapper .downloads {display: none;}

/* edit category */

.equipment {}
.equipment .column-wrapper {float: left; width: 375px;}

.edit-category {}
.edit-category .price-row {margin-bottom: 15px;}
.edit-category .price-row > * {display: inline-block;}
.edit-category .price-row .form-control {width: 80px; margin: 0 10px 0 40px;}
.edit-category .price-row label {width: 70px;}
.edit-category .price-row span {color: #474e5f;}

/* add photo */

.add-photo {min-height: 140px; position: relative;}
.add-photo .custom-file {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    z-index: 1;
    opacity: 0;
    position: absolute; width: 100%; height: 100%;
}
.add-photo .title {font-size: 24px; color: #000; margin-bottom: 20px;}
.add-photo .result {}
.add-photo .result .items {margin: 0; padding: 0; display: inline-block;}
.add-photo .result .item {
    position: relative;
    float: left; padding-left: 0;
    margin: 0 30px 30px 0;
    width: 212px; height: 140px; overflow: hidden;
    /*border: 1px solid #e7e7e7;*/
}
.add-photo .result li:before {display: none;}
.add-photo .result .item span {position: absolute; left: 0; height: 50%; width: 100%;}
.add-photo .result .item span:hover {background: rgba(71,78,95, 0.6)}
.add-photo .result .item span.first {top: 0;}
.add-photo .result .item span.second {bottom: 0;}
.add-photo .result .item.fav span.first a {display: block;}
.add-photo .result .item.fav span.first a i {background-position: -24px 0;}


.add-photo .result .item img {height: 100%; width: 100%;}
.add-photo .result .item span a {
    display: none; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
}
.add-photo .result .item span:hover a {display: block;}

.add-photo .file-select {
    display: block; z-index: 0; width: 938px; height: 140px;
    background: #edf1f6 url("../img/largeImg.png") no-repeat 50% 60px;
    text-align: center; vertical-align: top;
    padding: 30px; text-decoration: none; position: relative;
}

/* slideout menu */

.pushmenu {background: #fff; width: 450px; height: 100%; top: 0; z-index: 1000; position:fixed;}
.pushmenu .panel-header {border-bottom: 1px solid #e8eaef; font-size: 24px; color: #474e5f;padding: 40px 30px 20px; position: relative;}
.pushmenu .panel-header .close {position: absolute; top: 16px; right: 16px; opacity: 1;}
.pushmenu .form-group {margin-bottom: 30px;}
.pushmenu-right {right: -450px;}
.pushmenu-right.pushmenu-open {right: 0;}
.pushmenu-push {overflow-x: hidden; position: relative; right: 0;}
.pushmenu-push-toright {right: 450px;}
.pushmenu-push-toright .header {right: 450px; left: -450px;}

.pushmenu-push-toright .wrapper:before{
    display: block; background: rgba(71, 78, 95, 0.3); z-index: 99;
    position: fixed; top: 0; right: 0; bottom: 0; left: 0; content: ' ';
}
.pushmenu, .pushmenu-push, .pushmenu-push .header {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.pushmenu .panel-body {position: relative; height: 100%;}
.pushmenu .task-wrapper {
    padding: 0 15px;
    overflow: auto;
    position: absolute;
    bottom: 30px;
    top: 0;
    height: auto; margin-bottom: 60px;
}
.pushmenu .task-wrapper .task-item {padding: 20px 0; margin-bottom: 20px; border-bottom: 1px solid #e8eaef;}
.pushmenu .task-wrapper .task-item .caption {margin-bottom: 16px;}

.pushmenu .task-wrapper .task-item .caption .ticket-num {padding-left: 17px; position: relative; font-weight: bold; color: #474e5f;}
.pushmenu .task-wrapper .task-item .caption .ticket-num:before {
    display: block; width: 12px; height: 12px; background: url("../img/icons20.png") no-repeat -4px -164px;
    content: ' '; position: absolute; top: 3px; left: 0;
}
.pushmenu .task-wrapper .task-item .caption .status {color: #acb5bf; font-size: 13px; margin-left: 10px;}

.pushmenu .task-wrapper .task-item .text {color: #474e5f;margin-bottom: 16px;}

.pushmenu .form-control,
.pushmenu .sbHolder {font-weight: bold;}
/* label */

.label {font-size: 13px; color: #fff; padding: 5px 7px; font-weight: lighter !important;}

.label-default {}
.label-primary {}
.label-success {color: #5dca76; background: #caffcb;}
.label-info {}
.label-warning {}
.label-danger {}

.badge {
    display: inline-block;
    width: 20px; height: 20px;
    padding: 0;
    font-size: 11px;
    font-weight: normal;
    line-height: 20px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #ff5277;
    border-radius: 10px;
}

/* icons */

.icn {display: inline-block; vertical-align: top;}
.icn20 {width: 20px; height: 20px; background: url("../img/icons20.png") no-repeat;}
.icn24 {width: 24px; height: 24px; background: url("../img/icons24.png") no-repeat;}

.icn20.icn-plus {background-position: 0 0;}
.icn20.icn-plus-grey {background-position: -20px 0;}
.icn20.icn-alert {background-position: 0 -80px;}
.icn20.icn-ok {background-position: 0 -60px;}
.icn20.icn-close {background-position: 0 -100px;}
.icn20.icn-close-dark {background-position: 0 -120px;}
.icn20.icn-remove {background-position: 0 -20px;}
.icn20.icn-down {background-position: 0 -140px;}
.icn20.icn-reply {background-position: 0 -180px;}
.icn20.icn-toright {background-position: 0 -200px;}
.icn20.icn-edit {background-position: 0 -40px;}
.icn20.icn-search {background-position: 0 -220px;}
.icn20.icn-problem {background-position: 0 -240px;}
.icn20.icn-up-green {background-position: 0 -260px;}
.icn20.icn-down-green {background-position: -20px -260px;}
.icn20.icn-down-red {background-position: 0 -280px;}
.icn20.icn-up-red {background-position: -20px -280px;}
.icn20.icn-users {background-position: 0 -320px;}
.icn20.icn-detail {background-position: 0 -300px;}

*:hover > .icn20.icn-alert {background-position: -20px -80px;}
*:hover > .icn20.icn-ok {background-position: -20px -60px;}
*:hover > .icn20.icn-close {background-position: -20px -100px;}
*:hover > .icn20.icn-close-dark {background-position: -20px -120px;}
*:hover > .icn20.icn-remove {background-position: -20px -20px;}
*:hover > .icn20.icn-reply {background-position: -20px -180px;}
*:hover > .icn20.icn-toright {background-position: -20px -200px;}
*:hover > .icn20.icn-edit {background-position: -20px -40px;}
*:hover > .icn20.icn-problem {background-position: -20px -240px;}
*:hover > .icn20.icn-users {background-position: -20px -320px;}

.btn-primary > .icn20.icn-ok,
.btn-success > .icn20.icn-ok {background-position: -40px -60px;}


.icn24.icn-fav {background-position: 0 0;}
.icn24.icn-remove {background-position: 0 -24px;}

*:hover > .icn24.icn-fav {background-position: -24px 0;}
*:hover > .icn24.icn-remove {background-position: -24px -24px;}

/* btn */

.btn {
    font-size: 15px; height: 38px; border: 2px solid; border-color: transparent !important; color: #fff;
    position: relative; box-shadow: none !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.btn:hover,
.btn:focus {color: #fff;}

.btn-small {font-size: 13px; height: 32px; line-height: 20px; padding: 4px 12px;}

.btn-default {background: #fff; border-color: #d9dbe0 !important; color: #474e5f;}
/*.btn-default:hover  {;}*/
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:active:focus {background: #fff; color: #474e5f; border-color: #c4c6ca !important}

.btn-primary {background: #45b1f9; color: #fff;}
.btn-primary:hover {background: #5dbeff;}
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary.active,
.btn-primary.active:hover,
.btn-primary.active:hover:focus {background: #56a4d8;}

.btn-success {background: #5dd963; color: #fff}
.btn-success:hover {background: #83de76;}
.btn-success:focus,
.btn-success:active,
.btn-success:active:focus {background: #59be5e;}

.btn-info {}
.btn-warning {}
.btn-danger {background: #e45d73;}
.btn-ghost {background: transparent;}
.btn-link {background: transparent;}
.btn-ghost-bordered {border-color: #5a6070 !important;}


.btn-back:before {
    display: block; width: 15px; height: 38px; background: url("../img/btn-arr-left.png") no-repeat;
    position: absolute; top: -2px; left: -15px; content: ' ';
}

.btn[disabled="disabled"] {background: #d8dadd;}
.btn[disabled="disabled"]:hover {background: #d8dadd;}


/* messages */

.message {
    display: none; line-height: 38px;
    position: absolute; z-index: 999;
    top:0; left: 0; right: 0; padding: 13px 0;
}
.message.payment {background: #ffd963; color: #000;}
.message.success {background: #63c673; color: #fff; text-align: center;}
.message.error {background: #ff6665; color: #fff; text-align: center;}

.message .btn-border {background: transparent; color: #000; border: 1px solid #bf8b4e;}

/* dropdown */

.cdd {display: inline-block;}
.cdd .dropdown .btn {border-width: 1px; padding: 0 6px 0 0; height: 34px; font-size: 13px;}
.cdd .dropdown .btn > span {
    border-right: 1px solid #d9dbe0; padding: 8px 8px 8px 20px; margin-right: 4px;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
}
.cdd .dropdown .btn > span + .icn {vertical-align: middle;}
.cdd .open > .dropdown-toggle.btn-default:focus,
.cdd .open > .dropdown-toggle.btn-default:hover {
    color: #474e5f;
    background-color: #fff;
    border-color: #d9dbe0;
}
.cdd .open > .btn {
    -webkit-border-radius: 3px 3px 0 0 ;
    -moz-border-radius: 3px 3px 0 0 ;
    border-radius: 3px 3px 0 0 ;
}
.cdd .dropdown-menu {
    margin: -1px 0 0; border-radius: 0; border: 1px solid #d9dbe0; min-width: 115px; width: 100%; padding: 0; font-size: 13px;
}
.cdd .dropdown-menu>li {border-top: 1px solid #d9dbe0;}
.cdd .dropdown-menu>li:first-child {border-top: 0;}
.cdd .dropdown-menu>li>a {padding: 9px 20px;color: #474e5f;}
.cdd .dropdown-menu>li>a:focus,
.cdd .dropdown-menu>li>a:hover {
    color: #474e5f;
    text-decoration: none;
    background-color: #e6f5ff;
}

.button-bar .dropdown  {height: 32px; display: inline-block;}
.button-bar .dropdown .btn {padding: 4px 6px 4px 10px;}
.button-bar .dropdown .btn > span {border-right: 2px solid #d9dbe0; padding: 7px 8px 7px 0; margin: 0 4px;}
.button-bar .dropdown .btn[type="submit"] > span {border-right: 0; margin-right: 0;}

.button-bar .dropdown-menu {
    margin: -1px 0 0; border-radius: 0; border: 1px solid #d9dbe0; min-width: 100%; padding: 0; font-size: 13px;
}

.button-bar .dropdown-menu>li {border-top: 1px solid #d9dbe0;}
.button-bar .dropdown-menu>li:first-child {border-top: 0;}
.button-bar .dropdown-menu>li>a {padding: 9px 20px;color: #474e5f;}
.button-bar .dropdown-menu>li>a:focus,
.button-bar .dropdown-menu>li>a:hover {
    color: #474e5f;
    text-decoration: none;
    background-color: #e6f5ff;
}

.btn-default.active,
.btn-default:active,
.open>.dropdown-toggle.btn-default,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover  {background: #fff;}

/* tabs */

.tab-wrapper {padding-top: 20px;}
.tab-wrapper .nav-tabs {padding: 0 30px; border-bottom: 1px solid #e8eaef;}
.tab-wrapper .nav-tabs > li > a {
    margin-right: 0; color: #545d6a;
    line-height: 1.42857143;
    border-width: 0 0 3px 0;
    border-radius: 0;
    padding: 10px 0;
}

.tab-wrapper .nav-tabs > li {padding: 0 15px;}
.tab-wrapper .nav-tabs > li:first-child {padding-left: 0;}
.tab-wrapper .nav-tabs > li:last-child {padding-right: 0;}
.tab-wrapper .nav-tabs > li.active> a,
.tab-wrapper .nav-tabs > li.active> a:focus,
.tab-wrapper .nav-tabs > li.active> a:hover,
.tab-wrapper .nav-tabs > li > a:hover {
    color: #545d6a;
    background-color: #fff;
    border-style: solid;
    border-width: 0 0 3px 0;
    border-bottom-color: #45b1f9;
    cursor: pointer;
}

.tab-wrapper .tab-content {padding: 0 30px 30px;}
.tab-wrapper .nav-tabs + .tab-content {padding: 30px;}

/* Custom select */
.export {float: right; width: 115px; margin-right: 30px;}

/* tickets */

.filer-field {margin-right: 30px; min-width: 170px; position: relative;}
.filer-field .form-control {font-weight: normal;}
.filer-field .close {position: absolute; top: 50%; margin-top: -10px; right: 5px; opacity: 0.5; display: none;}
.filer-field .form-control.nofocus + .close {display: block;}

.tickets {margin-bottom: 60px;}
.tickets:first-child {margin-top: 40px;}
.tab-content .tickets:first-child {margin-top: 0;}
.tickets > tbody > tr > td {vertical-align: top; /*font-size: 15px; line-height: 30px;*/}
.tickets > thead > tr > th {color: #acb5bf; font-size: 11px; text-transform: uppercase; font-weight: normal; border-bottom: 2px solid #e8eaef;}
.tickets > thead > tr > th span {display: inline-block; vertical-align: top; line-height: initial;}
.tickets > tbody > tr > td > span {white-space: nowrap;}
.tickets > tbody > tr > td > span + span {color: #80868e;}
.tickets > tbody > tr.colored {background-color: #fff9c5 !important;}
.tickets > tbody > tr:nth-child(even) {background: #fff}
.tickets > tbody > tr:nth-child(odd) {background: #f8f8f8}
.tickets > tbody > tr > td div {line-height: 20px;}
.tickets > tbody > tr > td .ticket-time {margin-right: 20px;}
.tickets > tbody > tr > td .sbHolder {font-size: 13px;}
.tickets > tbody > tr > td .info {color: #80868e;}
.tickets > tbody > tr > td div + div {color: #80868e;}
.tickets > tbody > tr > td.debts div + div {color: #ff5277;}
.tickets > tbody > tr:last-child > td {border-bottom: 1px solid #e8eaef;}
.tickets > tbody > tr > td.cdd {display: table-cell;}
.tickets > tbody > tr > td.cdd .dropdown .btn {/*display: block; width: 100%; text-align: left;*/border-width: 2px;}
.tickets > tbody > tr > td.cdd .dropdown .btn > span {border-width: 2px;}
.tickets > tbody > tr > td .btn + .btn {margin-left: 6px;}


.tickets > tbody > tr > td.acc-lcol .sbHolder {min-width: 160px;}

.load-more {display: block; margin: 30px auto 40px; border: 1px solid #e8eaef; text-align: center; line-height: 34px;}


.tickets .ticket-num {padding-left: 17px; position: relative;}
.tickets .status {color: #acb5bf; font-size: 13px;}

.tickets .new {}
.tickets .new .ticket-num,
.tickets .new .ticket-link,
.tickets .new .subj,
.tickets .new .from {font-weight: bold;}

.tickets .new .ticket-num:before {
    display: block; width: 12px; height: 12px; background: url("../img/icons20.png") no-repeat -4px -164px;
    content: ' '; position: absolute; top: 3px; left: 0;
}

.new-ticket {
    background: #fff; width: 470px; display: none;
    -moz-box-shadow: 0 0 40px 6px rgba(0,0,0,0.16), 0 0 53px 2px rgba(0,0,0,0.24);
    -webkit-box-shadow: 0 0 40px 6px rgba(0,0,0,0.16), 0 0 53px 2px rgba(0,0,0,0.24);
    box-shadow: 0 0 40px 6px rgba(0,0,0,0.16), 0 0 53px 2px rgba(0,0,0,0.24);
    position: fixed; z-index: 10; bottom: 2px; right: 0;
}
.new-ticket .t-header {background: #474e5f; padding: 0 20px; font-size: 18px; color: #fff; height: 50px; line-height: 50px;}
.new-ticket .t-footer {background: #e8eaef; padding: 13px 20px; height: 60px;}

.btn-close {width: 50px; height: 50px; text-align: center; line-height: 50px;}
.btn-close .icn {vertical-align: middle;}


.task-counter {
    font-weight: bold; color: #474e5f; margin-top: 23px; margin-right: 15px; font-size: 13px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 3px;
    border-radius: 2px;
    border: 2px solid #d9dbe0; display: table;
}
.task-counter > div {display: table-cell; padding: 4px 9px;}
.task-counter .text {position: relative; padding-left: 26px; border-right: 2px solid #d9dbe0;}
.task-counter .text:before {
    display: block; width: 12px; height: 12px; background: url("../img/icons20.png") no-repeat -4px -164px;
    content: ' '; position: absolute; top: 8px; left: 9px;
}


/* ticket form */

/*.ticket-form {overflow: hidden;}*/
.ticket-form .top-form {
    padding: 30px; margin-left: -15px; margin-right: -15px;
    -moz-box-shadow: 0 30px 110px -60px #000;
    -webkit-box-shadow: 0 30px 110px -60px #000;
    box-shadow: 0 30px 110px -60px #000;
}
.ticket-form .datetime-row {}
.ticket-form .datetime-row * {vertical-align: top;}
.ticket-form .datetime-row > div {display: inline-block; margin-right: 30px;}

.ticket-form .datetime-row .form-group {margin-right: 30px; white-space: nowrap;}
.ticket-form .datetime-row .form-group label {display: block;}
.ticket-form .datetime-row .form-group .form-control {width: 50px; display: inline-block;}
.ticket-form .datetime-row .form-group > span {display: inline-block; margin-left: 6px;}
.ticket-form .datetime-row .form-group .month {width: 130px; margin-right: 12px;/*margin-right: 24px;*/}
.ticket-form .datetime-row .form-group .hour,
.ticket-form .datetime-row .form-group .min {width: 77px;}

.ticket-form .hotel-row {margin-top: 25px;}
.ticket-form .hotel-row * {vertical-align: top;}
.ticket-form .hotel-row .form-group {margin-right: 20px; display: inline-block;}
.ticket-form .hotel-row .form-group .form-control {width: 344px; display: inline-block;}
.ticket-form .hotel-row .form-group .rooms {display: inline-block; width: 378px; margin-left: 16px;}
.ticket-form .hotel-row .btn {height: 34px; font-size: 13px;}
.ticket-form .hotel-row .price {display: inline-block; width: 140px; margin-left: 16px;}

/*  */

.room-description-wrapper {padding: 50px 0 40px; margin: 0 15px 30px; color: #474e5f; border-bottom: 1px solid #e8eaef;}
.room-description-wrapper.error {border-bottom: transparent; min-height: 420px;}
.room-description-wrapper .description-caption {font-weight: bold; line-height: normal;}
.room-description-wrapper .description-caption .hotel-name {font-size: 18px; margin-bottom: 10px;}
.room-description-wrapper .description-caption .room-name {font-size: 30px;}

.room-description-wrapper .room-status {margin: 20px 0; color: #474e5f}
.room-description-wrapper .room-status > span  {color: #80868e; margin-left: 10px;}

.room-description-wrapper .room-status.free {color: #5dca76;}
.room-description-wrapper .room-status.error {color: #ff5277;}
.room-description-wrapper .room-status.occupied {color: #ff5277;}

.room-description-wrapper .room-status.confirm {color: #474e5f;}
.room-description-wrapper .room-status.confirm > span {margin-left: 0; background: #e9dffa; color: #a473ed; padding: 2px 8px;}

.room-description-wrapper .room-price {font-size: 24px; margin: 15px 0;}
.room-description-wrapper .info {}
.room-description-wrapper .info .options {color: #80868e;}
.room-description-wrapper .info .time-range {margin-left: 20px;}
.room-description-wrapper .radio-group {margin: 30px 0;}
.room-description-wrapper .room-addr {margin: 5px 0 20px; color: #80868e;}
.room-description-wrapper .room-addr + .room-price {margin-top: 35px;;}
.room-description-wrapper .room-addr > span {margin-left: 16px; color: #474e5f;}

.room-description-wrapper .datetime-row {margin-top: 35px;}


/*  */

.client-info {color: #474e5f; padding: 30px; margin-left: -15px; margin-right: -15px;}
.client-info .caption {font-weight: bold; font-size: 18px; margin-bottom: 20px; clear: both;}
.client-info .form-group {display: inline-block; margin-right: 20px; float: left;}
.client-info .form-group.name {width: 130px;}
.client-info .form-group.surname {width: 200px;}
.client-info .form-group.phone {width: 160px;}
.client-info .radio-group {display: inline-block; float: left; margin-top: 30px;}
.client-info .radio-group .radio-inline {padding-left: 0;}

.client-info > .btn-primary {margin-top: 25px;}

/*  */

.ticket-form .form-footer {border-top: 1px solid #e5e5e5; padding: 30px; margin-left: -15px; margin-right: -15px;}
.form-footer .btn {margin-right: 16px;}
.form-footer .btn.cancel {border-color: #fca3b4 !important;}
.form-footer .btn.cancel:hover {border-color: #ff5277 !important;}

.form-footer .dropdown-toggle {margin-right: 0;}
.form-footer .cdd {}
.form-footer .cdd .dropdown-menu {font-size: 15px !important;}
.form-footer .cdd .dropdown .btn {border-width: 2px;}
.form-footer .cdd .dropdown .btn > span {
    border-right: 2px solid #d9dbe0; font-size: 15px; height: 30px; line-height: 30px;
}

/* relevant rooms */

.relevant-rooms-wrapper {padding: 60px 0 0; margin: 0 15px 30px; color: #474e5f; }
.relevant-rooms-wrapper .result-caption {font-weight: bold; line-height: normal; font-size: 30px; margin-bottom: 40px;}

.form-footer + .relevant-rooms-wrapper .result-caption,
.room-description-wrapper + .relevant-rooms-wrapper .result-caption {font-size: 18px;}
.room-description-wrapper + .relevant-rooms-wrapper {padding-top: 40px;}

.relevant-rooms-wrapper .result-item {border-bottom: 1px solid #e8eaef; padding-bottom: 50px; margin-bottom: 40px;}
.relevant-rooms-wrapper .result-item:last-child {border-bottom: 1px solid #e8eaef; padding-bottom: 50px; margin-bottom: 0;}
.relevant-rooms-wrapper .result-item .item-caption {
    font-weight: bold; font-size: 18px; margin-bottom: 5px; text-overflow: ellipsis; white-space: nowrap;
    overflow: hidden; line-height: 24px;
}
.relevant-rooms-wrapper .result-item .item-caption .label {position: absolute;}
.relevant-rooms-wrapper .result-item .addr { color: #80868e;}
.relevant-rooms-wrapper .result-item .addr .metro {color: #acb5bf;}
.relevant-rooms-wrapper .result-item .room-info {background: #e8fff2; color: #5dca76; font-size: 13px; display: inline-block; margin-top: 5px; padding: 1px 5px;}

.relevant-rooms-wrapper .item-description {margin-top: 30px;}
.relevant-rooms-wrapper .item-description .col-md-1 {white-space: nowrap;}
.relevant-rooms-wrapper .item-description .options {color: #80868e; margin-top: 20px;}
.relevant-rooms-wrapper .item-description .btn {margin-left: 3px;}

.relevant-rooms-wrapper:last-child .result-item:last-child {border-bottom: 0; padding-bottom: 20px;}

/*  */

.text-wrapper {padding: 15px;}
.text-wrapper h1 {margin-bottom: 50px;}
.text-wrapper .way-item {margin-bottom: 50px;}
.text-wrapper .way-item .caption {font-weight: bold; margin-bottom: 16px;}

/* occupied period */

.occupied-period {padding: 0; margin: 30px 15px; color: #474e5f; display: none;}
.occupied-period .period-caption {font-size: 18px; font-weight: bold; margin-bottom: 20px;}
.occupied-period .datetime-row {}
.occupied-period .datetime-row .form-group {margin-right: 0;}
.occupied-period .datetime-row .form-group label {color: #474e5f; display: inline-block; margin-bottom: 0; height: 32px; line-height: 32px;}

/* timeSlider */

.slider-wrapper {padding: 0 15px;}
.bstimeslider {height: 84px; position:relative;}

.bktibx {
    float:left; margin:0 6px 0 0 ; font-size:12px; width:20px; display: block; color:#80868e; text-align: center;
    position: relative;
}
.bktibx:before {
    display: block; width: 21px; height: 12px; background: #e2e2e2; position: absolute; left: -1px; top: -13px;
    content: ' ';
}
.bktibx:first-child:before {border-left: 1px solid #d9dbe0;}

.bktibx.free {}

#tslshow {position:absolute; left:0; width: 9999%;}
#tslshow .day {float: left;}
#tslshow .day .day-caption {margin-bottom: 23px; color:#80868e; /*text-align: center;*/}
#tslshow .day .hour {float: left; border-left: 1px solid #d9dbe0; border-top: 1px solid #d9dbe0; position: relative;}
#tslshow .day .hour .title {text-align: center; position: absolute; top: 20px; width: 100%;}


.slider-arrow {cursor: pointer; position:absolute; top: 50%; margin-top: -17px; width: 20px; height: 35px; background: url("../img/slider-arrows.png") no-repeat;}
.slider-arrow.to-left {left: 4px; background-position: 0 0;}
.slider-arrow.to-right {right: 4px; background-position: -20px 0;}


#viewContainer {
    width: auto; height:100%; position:absolute; left: 30px; right: 30px; overflow:hidden; font-size: 12px;
    border-left: 1px solid #d9dbe0;
}

.marked-free {float: left; background: #e8fff2; height: 41px; position: relative;}
.marked-occupied {float: left; height: 41px; position: relative;}

.marked-free:before,
.marked-occupied:before {
    display: block; width: 100%; height: 8px; position: absolute; left: 0; top: -9px; content: ' '; z-index: 8;
}
.marked-free:before {background: rgba(112, 239, 163, 0.7);}
.marked-occupied:before {background: rgba(255, 97, 126, 0.7);}

/* helpdesk */

.helpdesk {padding: 30px 15px;}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    color: #474e5f;
    background-color: #e6f5ff;
}

.helpdesk .nav {margin-top: 40px;}
.helpdesk .nav > li > a:focus,
.helpdesk .nav > li > a:hover {background-color: #e6f5ff;}

.hd-item {margin-bottom: 40px;}
.hd-item p {margin: 0;}

/* am */

.paid {color: #545d6a; font-size: 0;margin-top: 15px;}
.paid > div {display: inline-block; font-size: 15px; vertical-align: middle;}
/*.paid > div * {line-height: normal;}*/

.paid .first {color: #80868e;}
.paid .first strong {display: block; color: #545d6a;}

.paid .second {padding: 0 10px;}
.paid .second a,
.paid .second a span {font-size: 40px; display: inline-block; line-height: 28px;}
.paid .second a span {font-size: 24px; vertical-align: top;}

.paid .third {display: inline-block; line-height: 28px; vertical-align: top; color: #5dca76; font-weight: bold;}
.paid .popover {
    position: absolute; color: #545d6a; padding: 0; font-family: inherit; font-size: 15px; border: 1px solid #dee0e5;
    border-radius: 0;
    -webkit-box-shadow: 0 5px 20px -5px rgba(0,0,0,.2);
    box-shadow: 0 5px 20px -5px rgba(0,0,0,.2);
    line-break: auto;
}

.paid .popover.bottom {margin-top: 5px;}
.paid .popover.bottom > .arrow {display: none;}
.paid .popover .popover-content {padding: 15px 20px;}
.paid .popover .popover-content td {padding: 0 5px;}
.paid .popover .popover-content .good {color: #5dc876;}
.paid .popover .popover-content .normal {color: #f7b94a;}
.paid .popover .popover-content .bad {color: #ff5277;}

.paid .percentContent {display: none;}


/* Custom checkbox */

/* Base for label styling */

.checkbox label,
.radio label {color: #474e5f;}

.checkbox, .radio {margin-bottom: 15px;}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute !important;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 23px;
    cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: ' ';
    position: absolute;
    left:0; top: 2px;
    width: 16px; height: 16px;
    border: 1px solid #d9dbe0;
    background: #fff;
    border-radius: 1px;
}
/* checked mark aspect */

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: ' ';
    position: absolute;
    top: 4px; left: 4px; width: 16px; height: 16px;
    transition: all .2s;
    display: block; background: url("../img/check.png") no-repeat;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}
[type="checkbox"]:disabled + label {
    color: #aaa;
}
/* accessibility
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 1px dotted blue;
}

label:hover:before {
    border: 1px solid #4778d9!important;
}
*/
/*///////////////////////////////////////////////////////////////////////*/

/* Custom radio */

[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute !important;
    left: -9999px;
}
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
    position: relative;
    padding-left: 23px;
    cursor: pointer;
}

/* checkbox aspect */
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
    content: ' ';
    position: absolute;
    left:0; top: 2px;
    width: 16px; height: 16px;
    border: 1px solid #ccc;
    background: #f8f8f8;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
    content: ' ';
    position: absolute;
    top: 6px; left: 4px; width: 8px; height: 8px;
    transition: all .2s;
    display: block;
    background: #5dca76;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
/* checked mark aspect changes */
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="radio"]:disabled:checked + label:after {
    color: #999;
}
[type="radio"]:disabled + label {
    color: #aaa;
}

/*label:hover:before {
    border: 1px solid #4778d9!important;
}*/

/* material input */
.material {margin-bottom: 0;}
.material .custom-input {position: relative;}
.material .custom-input label {
    color:#757575;
    font-size: 15px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left: 20px;
    top: 15px;
    transition:0.2s ease all;
}

.material .custom-input input,
.material .custom-input textarea {
    padding: 20px 20px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #e8eaef;
    background: transparent; color: #474e5f;
}

.material .custom-input input {height: 50px; position: relative; z-index: 9; font-weight: bold;}
.material .custom-input textarea {
    overflow: auto; box-shadow: none;
    resize: none;
    width: 470px;
    height: 168px; padding: 20px 30px 5px 15px;
    border-bottom:1px solid #e8eaef;
}
.material .custom-input input:focus,
.material .custom-input textarea:focus { outline:none; }

.material .custom-input .bar {position:relative; display:block; width: 100%; }
.material .custom-input .bar:before,
.material .custom-input .bar:after 	{
    content:' '; height:2px; width:0; bottom:1px; position: absolute;
    background: #474e5f; transition:0.2s ease all;
}
.material .custom-input .bar:before {left:50%;}
.material .custom-input .bar:after {right:50%;}

.material .custom-input input:focus ~ label,
.material .custom-input input.used ~ label,
.material .custom-input textarea:focus ~ label,
.material .custom-input textarea.used ~ label  {
    top: 0;
    font-size: 12px;
    color: #757575;
    z-index: 9;
}

.material .custom-input input:focus ~ .bar:before,
.material .custom-input input:focus ~ .bar:after,
.material .custom-input textarea:focus ~ .bar:before,
.material .custom-input textarea:focus ~ .bar:after {width:50%;}

.new-ticket .custom-scroll {height: 168px;}


/* custom textarea scrollbar */

.textarea-scrollbar {
    height: 168px;
    width: 470px;
}

/* autocomplete */

.ui-widget {font-family: 'Roboto', sans-serif;}

.ui-autocomplete {
    border-radius: 0 !important; border: 1px solid #dee0e5;
    -moz-box-shadow: 0 0 40px 6px rgba(0,0,0,0.16), 0 0 53px 2px rgba(0,0,0,0.24);
    -webkit-box-shadow: 0 0 40px 6px rgba(0,0,0,0.16), 0 0 53px 2px rgba(0,0,0,0.24);
    box-shadow: 0 0 40px 6px rgba(0,0,0,0.16), 0 0 53px 2px rgba(0,0,0,0.24);
}
.ui-autocomplete.ui-menu .ui-menu-item {padding: 13px 18px;}
.ui-autocomplete.ui-menu .ui-menu-item:hover {background: #edf1f7;}
.ui-autocomplete.ui-menu .ui-menu-item a {border: none; background: transparent; margin: 0;}

.ui-autocomplete.find-room {}
.ui-autocomplete.find-room .ui-menu-item {padding: 5px 10px;}
.ui-autocomplete.find-room .ui-menu-item .ui-state-focus {color: #ff6784; text-decoration: none; font-weight: normal;}
.ui-autocomplete.find-room .ui-menu-item span {color: #80868e; font-size: 14px; display: inline-block; width: 50px;}
.ui-autocomplete.find-room .ui-menu-item span + span {color: #474e5f; width: auto;}


.ui-autocomplete.find-room-header {width: 430px !important;}
.ui-autocomplete.find-room-header .hidden-info {display: none; margin-left: 10px; background: #fff; overflow: auto;}
.ui-autocomplete.find-room-header .hidden-info p {font-size: 13px; margin-bottom: 7px; line-height: 14px;}
.ui-autocomplete.find-room-header .hidden-info p.link {color: #45b1f9; cursor: pointer;}
.ui-autocomplete.find-room-header .hidden-info p.link:hover {color: #ff6784; text-decoration: none;}
.ui-autocomplete.find-room-header .ui-state-focus .hidden-info {display: block;}

.ui-autocomplete.find-room-header .ui-menu-item {display: inherit; position: static;}
.ui-autocomplete.find-room-header .ui-menu-item a {}
.ui-autocomplete.find-room-header .ui-menu-item a span {float: left; width: 100px;}
.ui-autocomplete.find-room-header .ui-menu-item a span:first-child {font-size: 14px; font-weight: bold; color: #474e5f;}
.ui-autocomplete.find-room-header .ui-menu-item .hidden-info {
    width: auto; position: absolute; top: 0; left: 120px; bottom: 0; right: 0; padding: 12px 16px;
}
.ui-autocomplete.find-room-header .ui-menu-item a:before,
.ui-autocomplete.find-room-header .ui-menu-item a:after {content: ""; display: table;}
.ui-autocomplete.find-room-header .ui-menu-item a:after {clear: both;}

/* custom input file */

.add-file {padding: 20px;}
.add-file .custom-file {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    z-index: 0;
    opacity: 0;
    position: absolute; width: 0; height: 0;
}
.add-file .result {display: inline-block; max-width: 100%;}
.add-file .file-select,
.add-file .file-item {
    width: auto; height: 34px; vertical-align: top; margin: 0 0 9px 0;
    border: 2px dotted #e7e7e7; color: #80868e; text-decoration: none; position: relative; float: left;
    z-index: 99; display: inline-block; padding: 5px 10px 5px 5px; max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.add-file .file-item {padding: 5px 30px 5px 5px; margin-right: 9px; position: relative;}
.add-file .file-item .del-btn {position: absolute; top: 5px; right: 10px;}


/* Modal */

.modal {text-align: center; padding: 0!important;}
.modal:before {content: ' '; display: inline-block; height: 100%; vertical-align: middle;/* margin-right: -4px;*/}
.modal-dialog {display: inline-block; text-align: left; vertical-align: middle;}

.modal-dialog .close {position: absolute; top: 16px; right: 16px; filter: alpha(opacity=100); opacity: 1;}
.modal-content {-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;  padding: 60px 45px;}
.modal-footer {background: #f9f9f9; border-top: 1px solid #e5e5e5;}

.modal-title {font-size: 24px; color: #474e5f; line-height: normal; margin-bottom: 25px;}
.modal-title small {font-size: 14px; color: #949494;display: inline-block; line-height: 40px; vertical-align: top;}
.modal-title .label {font-size: 14px; font-weight: normal; padding: 6px 12px; vertical-align: middle; position: relative; top: -4px;}
.modal-title .label-info {background: #d0edff; color: #59abdb; }
.modal-title .label-success {background: #d7ffc5; color: #58af66;}

.modal-body {padding: 0;}

.remove-category .modal-content {text-align: center;}
.remove-category .modal-content .text {color: #474e5f; font-size: 15px; margin-bottom: 37px;}
.remove-category .modal-dialog {width: 400px;}


.edit-guest-item .modal-dialog {width: 870px;}
.edit-guest-item .datetime-row {}
.edit-guest-item .datetime-row * {vertical-align: top;}
.edit-guest-item .datetime-row > div {display: inline-block;}
.edit-guest-item .datetime-row .form-group {margin-right: 30px; white-space: nowrap;}
.edit-guest-item .datetime-row .form-group label {display: block;}
.edit-guest-item .datetime-row .form-group .form-control {width: 50px; display: inline-block;}
.edit-guest-item .datetime-row .form-group > span {display: inline-block; margin-left: 6px;}
.edit-guest-item .datetime-row .form-group .month {width: 130px; margin-right: 12px;/*margin-right: 24px;*/}
.edit-guest-item .datetime-row .form-group .hour,
.edit-guest-item .datetime-row .form-group .min {width: 77px;}

.edit-guest-item .client-info {padding: 0; margin-right: -15px; margin-left: -15px;}
.edit-guest-item .client-info .form-group {width: 50% !important; margin-right: 0;}

/* hcc */

.hcc-wrapper {}
.hcc-wrapper .hcc-block {margin-right: 30px; margin-top: 10px;}
.hcc-wrapper .hcc-block .hcc-block-header {border-bottom: 1px solid #e8eaef; margin-bottom: 20px; padding-bottom: 6px;}
.hcc-wrapper .hcc-block .hcc-block-header .hcc-title {color: #474e5f; font-size: 24px; margin-bottom: 10px;}
.hcc-wrapper .hcc-block .hcc-block-header .desc {color: #80868e; font-size: 15px;}
.hcc-wrapper .hcc-block .hcc-block-header .paid {margin-top: 8px;}
.hcc-wrapper .hcc-block .hcc-block-header .paid .percent {font-size: 24px; color: #474e5f; font-weight: bold;}
.hcc-wrapper .hcc-block .hcc-block-header .paid .percent span {font-weight: normal; margin-left: 5px;}
.hcc-wrapper .hcc-block .hcc-block-header .diff {
    font-size: 15px; color: #474e5f; font-weight: bold; display: inline-block; vertical-align: top; margin-left: 10px;
}
.hcc-wrapper .hcc-block .hcc-block-header .diff.good {color: #5dc876;}
.hcc-wrapper .hcc-block .hcc-block-header .diff.normal {color: #f7b94a;}
.hcc-wrapper .hcc-block .hcc-block-header .diff.bad {color: #ff5277;}

.hcc-wrapper .hcc-block .hcc-block-items {}
.hcc-wrapper .hcc-block .hcc-block-items li {line-height: 22px; margin-bottom: 10px;}
.hcc-wrapper .hcc-block .hcc-block-items li a {color: #474e5f;}
.hcc-wrapper .hcc-block .hcc-block-items li a:hover {text-decoration: underline;}
.hcc-wrapper .hcc-block .hcc-block-items li.best,
.hcc-wrapper .hcc-block .hcc-block-items li.best a {color: #5dca76;}
.hcc-wrapper .hcc-block .hcc-block-items li.worst,
.hcc-wrapper .hcc-block .hcc-block-items li.worst a {color: #ff5277;}

/* Footer */

.footer {height: 70px; margin-top: -70px; width: 100%;}
.footer .container {line-height: 70px;}
.footer .container p {color: #acb5bf; font-size: 15px; margin-bottom: 0; padding-left: 15px;}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
    /*.tab-wrapper .nav-tabs,
    .tab-wrapper .nav-tabs > li {padding: 0 10px;}*/
    /*.tab-wrapper .nav-tabs + .tab-content {padding: 30px 0;}*/

    .filer-field {/*margin-right: 10px;*/ width: 100px; min-width: 100px;}

    .nav-tabs.account,
    .nav-tabs.account > li {padding: 0 14px;}

    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {padding: 14px 7px;}
    /*.tab-wrapper .tab-content {padding: 30px 0;}*/
    .tab-wrapper .f-footer {margin: -1px 0 0; padding: 40px 0px 0;}

    .header form.header-form {margin-left: 18px;}

    .ticket-form .datetime-row > div {display: inline-block; margin-right: 0;}
}

@media (max-width: 768px) {

    .tab-content {padding: 30px 0;}

}


header form.header-form .form-control::-ms-clear {
    display: none;
}














